---
---

<!-- LATER TO BE CHANGED AS "index.astro" -->

<!-- Here we'll add the navigation bar component!!! "nav_bar.astro" -->

<h1> Statistics 101 </h1>
<h4> Based on Florida's public STA2023 college class curriculum </h4>

<!-- Here we'll add different components showcasing different units!! "units.astro" -->

<!-- Here we'll add the footer!! "footer.astro" in components as it will be used a lot -->